LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [27]:
import pandas as pd
import numpy as np
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.plotting as bkp
import json
from pandas.io.json import json_normalize
import os.path

LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [28]:
#os.path.join
drone_dir = '/home/skultra/Springboard/Code/Capstone-1/Drone_Data/'
raw_csv = '/home/skultra/Springboard/Code/Capstone-1/Drone_Data/Raw_CSV'
clean_csv = '/home/skultra/Springboard/Code/Capstone-1/Drone_Data/Clean_CSV'

In [29]:
CIA_Pakistan_csv = os.path.join(raw_csv, 'CIA and US military drone strikes in Pakistan, 2004 to present - '
                        'Drone strikes data.csv')
US_Somalia_csv = os.path.join(raw_csv, 'US strikes in Somalia, 2007 to present - All US actions.csv')
US_Yemen_csv = os.path.join(raw_csv, 'US strikes in Yemen, 2002 to present - All US actions.csv')
US_Afghanistan_csv = os.path.join(raw_csv, 'Afghanistan_ US air and drone strikes, 2015 to present - '
                          'Bureau data_ US strikes.csv')

In [30]:
CIA_Pakistan_data = pd.read_csv(CIA_Pakistan_csv)
US_Somalia_data = pd.read_csv(US_Somalia_csv)
US_Yemen_data = _data = pd.read_csv(US_Yemen_csv)
US_Afghanistan_data = pd.read_csv(US_Afghanistan_csv)

In [31]:
print(CIA_Pakistan_data.shape,US_Somalia_data.shape,US_Yemen_data.shape,US_Afghanistan_data.shape)

(430, 15) (86, 20) (299, 21) (442, 26)

In [34]:
CIA_Pakistan_data.head(3)

,Strike ID,Date,Location,Area,Minimum total people killed,Maximum total people killed,Minimum civilians reported killed,Maximum civilians reported killed,Minimum children reported killed,Maximum children reported killed,Minimum reported injured,Maximum reported injured,Strike link,Unnamed: 13,Index
0,B1,17/06/2004,Wana,South Waziristan,6,8,2,2,2,2,1,1,http://www.thebureauinvestigates.com/2011/08/1...,http://www.thebureauinvestigates.com/2011/08/1...,1
1,B2,08/05/2005,Toorikhel,North Waziristan,2,2,0,0,0,0,0,0,http://www.thebureauinvestigates.com/2011/08/1...,NaN,2
2,B3,05/11/2005,Mosaki,North Waziristan,8,8,3,8,2,3,1,1,http://www.thebureauinvestigates.com/2011/08/1...,NaN,3

In [38]:
CIA_Pakistan_data.columns
CIA_Pakistan_data['Unnamed: 13'][0:3]
CIA_Pakistan_data_updated = CIA_Pakistan_data.drop('Unnamed: 13', 1)
CIA_Pakistan_data_updated = CIA_Pakistan_data_updated.rename(columns = 
                                                             {'Minimum total people killed': 'Minimum people killed',
                                                              'Maximum total people killed': 'Maximum people killed',
                                                              'Minimum civilians reported killed': 'Minimum civilians killed',                                                              
                                                              'Maximum civilians reported killed': 'Maximum civilians killed',
                                                              'Maximum children reported killed': 'Maximum children killed',
                                                              'Minimum children reported killed': 'Minimum children killed',
                                                              'Minimum reported injured': 'Minimum people injured',
                                                              'Maximum reported injured': 'Maximum people injured'
                                                             })
CIA_Pakistan_data_updated.to_csv(os.path.join(clean_csv, 'CIA_Pakistan_updated.csv'))
CIA_Pakistan_data_updated.head(3)

,Strike ID,Date,Location,Area,Minimum people killed,Maximum people killed,Minimum civilians killed,Maximum civilians killed,Minimum children killed,Maximum children killed,Minimum people injured,Maximum people injured,Strike link,Index
0,B1,17/06/2004,Wana,South Waziristan,6,8,2,2,2,2,1,1,http://www.thebureauinvestigates.com/2011/08/1...,1
1,B2,08/05/2005,Toorikhel,North Waziristan,2,2,0,0,0,0,0,0,http://www.thebureauinvestigates.com/2011/08/1...,2
2,B3,05/11/2005,Mosaki,North Waziristan,8,8,3,8,2,3,1,1,http://www.thebureauinvestigates.com/2011/08/1...,3

In [75]:
US_Afghanistan_data_updated.head(3)

,Strike ID,Date,Village/local area,Location,Province,Type of attack,Drone strike,US confirmed?,US only source?,"Counter- terrorism, force protection or strategic effects?",...,Minimum people killed,Maximum people killed,Minimum civilians killed,Maximum civilians killed,Minimum children killed,Maximum children killed,Minimum people injured,Maximum people injured,Strike link,Index
0,AFG001,01/01/2015,Unknown,Spera,Khost,US strike,0,1,1,FP,...,0,0,0,0,0,0,0,0,http://www.thebureauinvestigates.com/2015/02/1...,77
1,AFG002,03/01/2015,Unknown,Gayan,Paktika,US strike,0,0,0,-,...,18,18,0,0,0,0,0,0,http://www.thebureauinvestigates.com/2015/02/1...,3
2,AFG003,03/01/2015,Unknown,Spera,Khost,US strike,0,1,0,FP,...,7,7,0,0,0,0,0,0,http://www.thebureauinvestigates.com/2015/02/1...,4

In [45]:
US_Afghanistan_data.columns
#Rename "Strike" column to Strike ID which will be the index as it contains info about each dataframe
US_Afghanistan_data_updated = US_Afghanistan_data.rename(columns = {'Strike' : 'Strike ID'})
#rename Village/local area to Area, change District to location, change 'Reportedly drone? to Drone strike
US_Afghanistan_data_updated = US_Afghanistan_data_updated.rename(columns = {'District': 'Location', 
                                                                            'Reportedly drone?': 'Drone strike',
                                                                            'Minimum total people killed': 'Minimum people killed',
                                                                            'Maximum total people killed': 'Maximum people killed',
                                                                            'Minimum civilians reported killed': 'Minimum civilians killed',                                                              
                                                                            'Maximum civilians reported killed': 'Maximum civilians killed',
                                                                            'Maximum children reported killed': 'Maximum children killed',
                                                                            'Minimum children reported killed': 'Minimum children killed',
                                                                            'Minimum reported injured': 'Minimum people injured',
                                                                            'Maximum reported injured': 'Maximum people injured'
                                                                           })
US_Afghanistan_data_updated = US_Afghanistan_data_updated.drop('Timeline URL', 1) 
US_Afghanistan_data_updated.columns
US_Afghanistan_data_updated.to_csv(os.path.join(clean_csv, 'US_Afghanistan_Data.csv'))

In [74]:
US_Somalia_data_updated.head(3)

,Strike ID,Date,Location,US confirmed?,Air strike?,Drone strike,Type of attack,Minimum strikes,Maximum strikes,Minimum people killed,Maximum people killed,Minimum civilians killed,Maximum civilians killed,Minimum children killed,Maximum children killed,Minimum people injured,Maximum people injured,Strike link,Index
0,SOM001,07/01/2007,Ras Kamboni,Confirmed,1,0,Air assault - AC-130 Gunship,1,1,8,10,2,2,0,1,1,3,http://www.thebureauinvestigates.com/2012/02/2...,1
1,SOM002,09/01/2007,"Hayo, Garer, Bankajirow and Badmadow, Ras Kamboni",Confirmed,1,0,Air assault - AC-130 Gunship,1,1,5,10,0,0,0,0,4,5,http://www.thebureauinvestigates.com/2012/02/2...,2
2,SOM003,09/01/2007,Hayo,Possible,1,0,Air assault - helicopter,1,1,4,31,4,31,0,1,0,0,http://www.thebureauinvestigates.com/2012/02/2...,3

In [49]:
US_Somalia_data.columns
#Renamne 'Confirmed\/npossible US strike' to 'US confirmed? 
US_Somalia_data_updated = US_Somalia_data.rename(columns = {'Unnamed: 0' : 'Strike ID'})
#Rename Confirmed\/npossible US strike to US confirmed?
US_Somalia_data_updated = US_Somalia_data_updated.rename(columns = {'Confirmed/\npossible US strike': 'US confirmed?', 
                                                                    'Strike type': 'Type of attack',
                                                                    'Minimum total people killed': 'Minimum people killed',
                                                                    'Maximum total people killed': 'Maximum people killed',
                                                                    'Minimum civilians reported killed': 'Minimum civilians killed',                                                              
                                                                    'Maximum civilians reported killed': 'Maximum civilians killed',
                                                                    'Maximum children reported killed': 'Maximum children killed',
                                                                    'Minimum children reported killed': 'Minimum children killed',
                                                                    'Minimum reported injured': 'Minimum people injured',
                                                                    'Maximum reported injured': 'Maximum people injured'
                                                                   })
US_Somalia_data_updated = US_Somalia_data_updated.drop('Unnamed: 18', 1)
US_Somalia_data_updated.columns
US_Somalia_data_updated.to_csv(os.path.join(clean_csv, 'US_Somalia_updated.csv'))
US_Somalia_data_updated.columns

Index(['Strike ID', 'Date', 'Location', 'US confirmed?', 'Air strike?',
       'Drone strike', 'Type of attack', 'Minimum strikes', 'Maximum strikes',
       'Minimum people killed', 'Maximum people killed',
       'Minimum civilians killed', 'Maximum civilians killed',
       'Minimum children killed', 'Maximum children killed',
       'Minimum people injured', 'Maximum people injured', 'Strike link',
       'Index'],
      dtype='object')

In [73]:
US_Yemen_data_updated.head(3)

,Strike ID,Date,Location,Province,Type of attack,US confirmed?,Air strike?,Drone strike,Minimum number of strikes,Maximum number of strikes,Minimum people killed,Maximum people killed,Minimum civilians killed,Maximum civilians killed,Minimum children killed,Maximum children killed,Minimum people injured,Maximum people injured,Strike link,Index
0,YEM001,03/11/2002,Unknown,Marib,Drone strike,Confirmed,1,1,1,1,6,6,0,0,0,0,0,0,www.thebureauinvestigates.com/2012/03/29/yemen...,1
1,YEM002,17/12/2009,Al Majala,Abyan,Cruise missile strike,Confirmed,0,0,1,1,55,58,44,44,21,22,9,9,www.thebureauinvestigates.com/2012/03/29/yemen...,2
2,YEM003,17/12/2009,Arhab,Sanaa,US-Yemen ground operation\nPossible drone strike,Confirmed,0,0,1,1,0,0,0,0,0,0,0,0,www.thebureauinvestigates.com/2012/03/29/yemen...,3

In [71]:
US_Yemen_data.columns
US_Yemen_data_updated = US_Yemen_data.drop('Unnamed: 19', 1)
#Renamne 'Confirmed\/npossible US strike' to 'US confirmed? 
US_Yemen_data_updated = US_Yemen_data_updated.rename(columns = {'Confirmed/\npossible US attack?' : 'US confirmed?',
                                                                'Air operation?': 'Air strike?',
                                                                'Minimum civilians reported killed': 'Minimum civilians killed',                                                              
                                                                'Maximum civilians reported killed': 'Maximum civilians killed',
                                                                'Maximum children reported killed': 'Maximum children killed',
                                                                'Minimum children reported killed': 'Minimum children killed'                                                                
                                                               })
US_Yemen_data_updated.to_csv(os.path.join(clean_csv, 'US_Yemen_updated.csv'))

In [54]:
US_Yemen_updated = os.path.join(clean_csv, 'US_Yemen_updated.csv')
CIA_Pakistan_updated =  os.path.join(clean_csv, 'CIA_Pakistan_updated.csv')
US_Somalia_updated =  os.path.join(clean_csv,'US_Somalia_updated.csv')
US_Afghanistan_updated =  os.path.join(clean_csv,'US_Afghanistan_Data.csv')

In [55]:
CIA_Pakistan_clean_data = pd.read_csv(CIA_Pakistan_updated)
US_Somalia_clean_data = pd.read_csv(US_Somalia_updated)
US_Yemen_clean_data = _data = pd.read_csv(US_Yemen_updated)
US_Afghanistan_clean_data = pd.read_csv(US_Afghanistan_updated)

In [56]:
Frames = [US_Afghanistan_clean_data, US_Somalia_clean_data, US_Yemen_clean_data, CIA_Pakistan_clean_data]
MasterFrame = pd.concat(Frames)

In [57]:
#MasterFrame.columns
#MasterFrame.shape
MasterFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 429
Data columns (total 30 columns):
Air strike?                                                   385 non-null float64
Area                                                          430 non-null object
Counter-
terrorism, force protection or strategic effects?    442 non-null object
Date                                                          1257 non-null object
Drone strike                                                  827 non-null float64
Index                                                         1257 non-null int64
Location                                                      1256 non-null object
Maximum children killed                                       1257 non-null int64
Maximum civilians killed                                      1257 non-null int64
Maximum number of strikes                                     299 non-null float64
Maximum people injured                                        1257 non-null int64
Maximum people killed                                         1257 non-null int64
Maximum strikes                                               528 non-null float64
Minimum children killed                                       1257 non-null int64
Minimum civilians killed                                      1257 non-null int64
Minimum number of strikes                                     299 non-null float64
Minimum people injured                                        1257 non-null int64
Minimum people killed                                         1257 non-null int64
Minimum strikes                                               528 non-null float64
Province                                                      741 non-null object
Reported target group?                                        442 non-null object
Reported target type                                          442 non-null object
Strike ID                                                     1257 non-null object
Strike link                                                   1066 non-null object
Time                                                          442 non-null object
Type of attack                                                827 non-null object
US confirmed?                                                 827 non-null object
US only source?                                               442 non-null float64
Unnamed: 0                                                    1257 non-null int64
Village/local area                                            442 non-null object
dtypes: float64(7), int64(10), object(13)
memory usage: 304.4+ KB

LOAD JSON FILE CREATED FROM CIA TWITTER FEED

In [63]:
#with keyword automatically closes file at the end
with open(os.path.join(drone_dir,'Drone_Data.json')) as f:
    twitter_drone = json.load(f)
twitter_drone.keys()
    
#JSON_DF_stats['status'] = pd.DataFrame(twitter_drone)
JSON_DF_stats = pd.DataFrame(twitter_drone['strike'])
# remove all the columns, that are not common
# combine all the data frames into one
# look at pandas documentation, combine things into one big data frame
# do same for both sets of data, get 2 clean dataframes,

In [64]:
#twitter_drone_data_strike = pd.DataFrame(twitter_drone['strike'])
JSON_DF_stats.head(3)

,_id,articles,bij_link,bij_summary_short,bureau_id,children,civilians,country,date,deaths,...,injuries,lat,location,lon,names,narrative,number,target,town,tweet_id
0,55c79e711cbee48856a30886,[],http://www.thebureauinvestigates.com/2012/03/2...,In the first known US targeted assassination u...,YEM001,,0,Yemen,2002-11-03T00:00:00.000Z,6,...,,15.47467,Marib Province,45.322755,"[Qa'id Salim Sinan al-Harithi, Abu Ahmad al-Hi...",In the first known US targeted assassination u...,1,,,278544689483890688
1,55c79e711cbee48856a30887,[],http://www.thebureauinvestigates.com/2011/08/1...,First known drone strike in Pakistan kills at ...,B1,2,2,Pakistan,2004-06-17T00:00:00.000Z,6-8,...,1,32.30512565,South Waziristan,69.57624435,"[Nek Mohammad, Fakhar Zaman, Azmat Khan, Marez...",The first known fatal US drone strike inside P...,2,Nek Mohammed,Wana,278544750867533824
2,55c79e711cbee48856a30888,[],http://www.thebureauinvestigates.com/2011/08/1...,"Two killed, including Haitham al-Yemeni an al ...",B2,,,Pakistan,2005-05-08T00:00:00.000Z,2,...,,32.98677989,North Waziristan,70.26082993,"[Haitham al-Yemeni, Samiullah Khan]",2 people killed in a Predator strike which rep...,3,Haitham al-Yemeni,Toorikhel,278544812255367168

In [65]:
twitter_drone_data.head(0)

NameError: name 'twitter_drone_data' is not defined

In [66]:
#for each of them 
# for classification, need to know f(x), build it out based on metric or calculation

In [67]:
#1. treat each seperately, see if there's a way to correlate/join info from json file to 
see if can get each strike link data into a seperate column and correlate with strike id(add a field and requests package)
2. do visualizations for each of them
3. do stat inference for each seperately
4. do clustering for each seperately
    
5. then do classification(for this we need f(x) column beforehand)

SyntaxError: invalid syntax (<ipython-input-67-43ac20904ee8>, line 2)

In [68]:
finish wrangling, 
then focus on visualization
focus on one thing at time

SyntaxError: invalid syntax (<ipython-input-68-d8c8cd5e6e88>, line 1)