LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.plotting as bkp
import json
from pandas.io.json import json_normalize

LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [3]:
CIA_Pakistan_csv = open('Drone_Data/Raw_CSV/CIA and US military drone strikes in Pakistan, 2004 to present - '
                        'Drone strikes data.csv', mode='r')
US_Somalia_csv = open('Drone_Data/Raw_CSV/US strikes in Somalia, 2007 to present - All US actions.csv', mode='r')
US_Yemen_csv = open('Drone_Data/Raw_CSV/US strikes in Yemen, 2002 to present - All US actions.csv', mode='r')
US_Afghanistan_csv = open('Drone_Data/Raw_CSV/Afghanistan_ US air and drone strikes, 2015 to present - '
                          'Bureau data_ US strikes.csv', mode='r')

In [4]:
CIA_Pakistan_data = pd.read_csv(CIA_Pakistan_csv)
US_Somalia_data = pd.read_csv(US_Somalia_csv)
US_Yemen_data = _data = pd.read_csv(US_Yemen_csv)
US_Afghanistan_data = pd.read_csv(US_Afghanistan_csv)

In [35]:
print(CIA_Pakistan_data.shape,US_Somalia_data.shape,US_Yemen_data.shape,US_Afghanistan_data.shape)

(430, 15) (86, 20) (299, 21) (442, 26)

In [9]:
CIA_Pakistan_data.columns
CIA_Pakistan_data['Unnamed: 13'][0:3]
CIA_Pakistan_data_updated = CIA_Pakistan_data.drop('Unnamed: 13', 1)
CIA_Pakistan_data_updated.columns
CIA_Pakistan_data_updated.to_csv('Drone_Data/Clean_CSV/CIA_Pakistan_updated.csv')
CIA_Pakistan_data_updated.columns

Index(['Strike ID', 'Date', 'Location', 'Area', 'Minimum total people killed',
       'Maximum total people killed', 'Minimum civilians reported killed',
       'Maximum civilians reported killed', 'Minimum children reported killed',
       'Maximum children reported killed', 'Minimum reported injured',
       'Maximum reported injured', 'Strike link', 'Index'],
      dtype='object')

In [25]:
US_Afghanistan_data.columns
#Rename "Strike" column to Strike ID which will be the index as it contains info about each dataframe
US_Afghanistan_data_updated = US_Afghanistan_data.rename(columns = {'Strike' : 'Strike ID'})
#rename Village/local area to Area, change District to location, change 'Reportedly drone? to Drone strike
US_Afghanistan_data_updated = US_Afghanistan_data_updated.rename(columns = {'District': 'Location', 'Reportedly drone?': 'Drone strike'})
US_Afghanistan_data_updated = US_Afghanistan_data_updated.drop('Timeline URL', 1) 
US_Afghanistan_data_updated.columns
US_Afghanistan_data_updated.to_csv('Drone_Data/Clean_CSV/US_Afghanistan_Data.csv')
#US_Afghanistan_data_updated['District'].head()
US_Afghanistan_data_updated.columns

Index(['Strike ID', 'Date', 'Village/local area', 'Location', 'Province',
       'Type of attack', 'Drone strike', 'US confirmed?', 'US only source?',
       'Counter-\nterrorism, force protection or strategic effects?',
       'Reported target group?', 'Time', 'Reported target type',
       'Minimum strikes', 'Maximum strikes', 'Minimum total people killed',
       'Maximum total people killed', 'Minimum civilians reported killed',
       'Maximum civilians reported killed', 'Minimum children reported killed',
       'Maximum children reported killed', 'Minimum reported injured',
       'Maximum reported injured', 'Strike link', 'Index'],
      dtype='object')

In [26]:
US_Somalia_data.columns
#Renamne 'Confirmed\/npossible US strike' to 'US confirmed? 
US_Somalia_data_updated = US_Somalia_data.rename(columns = {'Unnamed: 0' : 'Strike ID'})
#Rename Confirmed\/npossible US strike to US confirmed?
US_Somalia_data_updated = US_Somalia_data_updated.rename(columns = {'Confirmed/\npossible US strike': 'US confirmed?', 'Strike type': 'Type of attack'})
US_Somalia_data_updated = US_Somalia_data_updated.drop('Unnamed: 18', 1)
US_Somalia_data_updated.columns
US_Somalia_data_updated.to_csv('Drone_Data/Clean_CSV/US_Somalia_updated.csv')
US_Somalia_data_updated.columns

Index(['Strike ID', 'Date', 'Location', 'US confirmed?', 'Air strike?',
       'Drone strike', 'Type of attack', 'Minimum strikes', 'Maximum strikes',
       'Minimum people killed', 'Maximum people killed',
       'Minimum civilians killed', 'Maximum civilians killed',
       'Minimum children killed', 'Maximum children killed',
       'Minimum people injured', 'Maximum people injured', 'Strike link',
       'Index'],
      dtype='object')

In [27]:
US_Yemen_data.columns
US_Yemen_data_updated = US_Yemen_data.drop('Unnamed: 19', 1)
#Renamne 'Confirmed\/npossible US strike' to 'US confirmed? 
US_Yemen_data_updated = US_Yemen_data_updated.rename(columns = {'Confirmed/\npossible US attack?' : 'US confirmed?', 'Air operation?': 'Air strike?'})
US_Yemen_data_updated.to_csv('Drone_Data/Clean_CSV/US_Yemen_updated.csv') 
US_Yemen_data_updated.columns
#US_Yemen_data_updated.to_csv('Drone_Data/Clean_CSV/US_Yemen_data_updated.csv')

Index(['Strike ID', 'Date', 'Location', 'Province', 'Type of attack',
       'US confirmed?', 'Air strike?', 'Drone strike',
       'Minimum number of strikes', 'Maximum number of strikes',
       'Minimum people killed', 'Maximum people killed',
       'Minimum civilians reported killed',
       'Maximum civilians reported killed', 'Minimum children reported killed',
       'Maximum children reported killed', 'Minimum people injured',
       'Maximum people injured', 'Strike link', 'Index'],
      dtype='object')

In [29]:
US_Yemen_updated = open('Drone_Data/Clean_CSV/US_Yemen_updated.csv')
CIA_Pakistan_updated = open('Drone_Data/Clean_CSV/CIA_Pakistan_updated.csv')
US_Somalia_updated = open('Drone_Data/Clean_CSV/US_Somalia_updated.csv')
US_Afghanistan_updated = open('Drone_Data/Clean_CSV/US_Afghanistan_Data.csv')

In [30]:
CIA_Pakistan_clean_data = pd.read_csv(CIA_Pakistan_updated)
US_Somalia_clean_data = pd.read_csv(US_Somalia_updated)
US_Yemen_clean_data = _data = pd.read_csv(US_Yemen_updated)
US_Afghanistan_clean_data = pd.read_csv(US_Afghanistan_updated)

In [31]:
Frames = [US_Afghanistan_clean_data, US_Somalia_clean_data, US_Yemen_clean_data, CIA_Pakistan_clean_data]
MasterFrame = pd.concat(Frames)

In [38]:
#MasterFrame.columns
#MasterFrame.shape
MasterFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 429
Data columns (total 38 columns):
Air strike?                                                   385 non-null float64
Area                                                          430 non-null object
Counter-
terrorism, force protection or strategic effects?    442 non-null object
Date                                                          1257 non-null object
Drone strike                                                  827 non-null float64
Index                                                         1257 non-null int64
Location                                                      1256 non-null object
Maximum children killed                                       86 non-null float64
Maximum children reported killed                              1171 non-null float64
Maximum civilians killed                                      86 non-null float64
Maximum civilians reported killed                             1171 non-null float64
Maximum number of strikes                                     299 non-null float64
Maximum people injured                                        385 non-null float64
Maximum people killed                                         385 non-null float64
Maximum reported injured                                      872 non-null float64
Maximum strikes                                               528 non-null float64
Maximum total people killed                                   872 non-null float64
Minimum children killed                                       86 non-null float64
Minimum children reported killed                              1171 non-null float64
Minimum civilians killed                                      86 non-null float64
Minimum civilians reported killed                             1171 non-null float64
Minimum number of strikes                                     299 non-null float64
Minimum people injured                                        385 non-null float64
Minimum people killed                                         385 non-null float64
Minimum reported injured                                      872 non-null float64
Minimum strikes                                               528 non-null float64
Minimum total people killed                                   872 non-null float64
Province                                                      741 non-null object
Reported target group?                                        442 non-null object
Reported target type                                          442 non-null object
Strike ID                                                     1257 non-null object
Strike link                                                   1066 non-null object
Time                                                          442 non-null object
Type of attack                                                827 non-null object
US confirmed?                                                 827 non-null object
US only source?                                               442 non-null float64
Unnamed: 0                                                    1257 non-null int64
Village/local area                                            442 non-null object
dtypes: float64(23), int64(2), object(13)
memory usage: 383.0+ KB

LOAD JSON FILE CREATED FROM CIA TWITTER FEED

In [15]:
#with keyword automatically closes file at the end
with open('Drone_Data/Drone_Data.json') as f:
    twitter_drone = json.load(f)
twitter_drone.keys()
    
#JSON_DF_stats['status'] = pd.DataFrame(twitter_drone)
JSON_DF_stats = pd.DataFrame(twitter_drone['strike'])
# remove all the columns, that are not common
# combine all the data frames into one
# look at pandas documentation, combine things into one big data frame
# do same for both sets of data, get 2 clean dataframes,

In [17]:
#twitter_drone_data_strike = pd.DataFrame(twitter_drone['strike'])
JSON_DF_stats.head(3)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>_id</th>
      <th>articles</th>
      <th>bij_link</th>
      <th>bij_summary_short</th>
      <th>bureau_id</th>
      <th>children</th>
      <th>civilians</th>
      <th>country</th>
      <th>date</th>
      <th>deaths</th>
      <th>...</th>
      <th>injuries</th>
      <th>lat</th>
      <th>location</th>
      <th>lon</th>
      <th>names</th>
      <th>narrative</th>
      <th>number</th>
      <th>target</th>
      <th>town</th>
      <th>tweet_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>55c79e711cbee48856a30886</td>
      <td>[]</td>
      <td>http://www.thebureauinvestigates.com/2012/03/2...</td>
      <td>In the first known US targeted assassination u...</td>
      <td>YEM001</td>
      <td></td>
      <td>0</td>
      <td>Yemen</td>
      <td>2002-11-03T00:00:00.000Z</td>
      <td>6</td>
      <td>...</td>
      <td></td>
      <td>15.47467</td>
      <td>Marib Province</td>
      <td>45.322755</td>
      <td>[Qa'id Salim Sinan al-Harithi, Abu Ahmad al-Hi...</td>
      <td>In the first known US targeted assassination u...</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td>278544689483890688</td>
    </tr>
    <tr>
      <th>1</th>
      <td>55c79e711cbee48856a30887</td>
      <td>[]</td>
      <td>http://www.thebureauinvestigates.com/2011/08/1...</td>
      <td>First known drone strike in Pakistan kills at ...</td>
      <td>B1</td>
      <td>2</td>
      <td>2</td>
      <td>Pakistan</td>
      <td>2004-06-17T00:00:00.000Z</td>
      <td>6-8</td>
      <td>...</td>
      <td>1</td>
      <td>32.30512565</td>
      <td>South Waziristan</td>
      <td>69.57624435</td>
      <td>[Nek Mohammad, Fakhar Zaman, Azmat Khan, Marez...</td>
      <td>The first known fatal US drone strike inside P...</td>
      <td>2</td>
      <td>Nek Mohammed</td>
      <td>Wana</td>
      <td>278544750867533824</td>
    </tr>
    <tr>
      <th>2</th>
      <td>55c79e711cbee48856a30888</td>
      <td>[]</td>
      <td>http://www.thebureauinvestigates.com/2011/08/1...</td>
      <td>Two killed, including Haitham al-Yemeni an al ...</td>
      <td>B2</td>
      <td></td>
      <td></td>
      <td>Pakistan</td>
      <td>2005-05-08T00:00:00.000Z</td>
      <td>2</td>
      <td>...</td>
      <td></td>
      <td>32.98677989</td>
      <td>North Waziristan</td>
      <td>70.26082993</td>
      <td>[Haitham al-Yemeni, Samiullah Khan]</td>
      <td>2 people killed in a Predator strike which rep...</td>
      <td>3</td>
      <td>Haitham al-Yemeni</td>
      <td>Toorikhel</td>
      <td>278544812255367168</td>
    </tr>
  </tbody>
</table>
<p>3 rows × 22 columns</p>
</div>

In [10]:
twitter_drone_data.head(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>status</th>
      <th>strike</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [ ]:
#for each of them 
# for classification, need to know f(x), build it out based on metric or calculation

In [ ]:
#1. treat each seperately, see if there's a way to correlate/join info from json file to 
see if can get each strike link data into a seperate column and correlate with strike id(add a field and requests package)
2. do visualizations for each of them
3. do stat inference for each seperately
4. do clustering for each seperately
    
5. then do classification(for this we need f(x) column beforehand)

In [ ]:
finish wrangling, 
then focus on visualization
focus on one thing at time